body {
    background: url('../image/bg.jpg') no-repeat center center;
    min-height: 100%;
    background-size: cover;
}

.main-text {
    font-size: 5rem;
    text-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
}

.main-link {
    padding: 8px 32px;
    border-radius: 5px;
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.text-shadow {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
}

.main-center {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    transform: translate(0, -45%);
    width: 630px;
}

.opacity-bg {
    background: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.products-container {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    padding: 1rem;
    width: 200px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    height: 100%;
}

.product__image {
    position: relative;
    display: block;
    text-align: center;
}

.product__image img {
    width: 100%;
}

.product__title {
    text-align: center;
    overflow: hidden;
}

.product__title a {
    color: #000000;
    text-align: center;
    font-size: 1.4rem;
}

.product__price {
    text-align: center;
    font-weight: lighter;
    font-size: 1.5rem;
}

.product:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.product__title a:hover {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 1);
}

.main-link:hover {
    background: rgba(255, 255, 255, 0.2);
}

.product-single {
    background: rgb(255, 255, 255);
    border-radius: 5px;
    padding: 1rem;
}

.product-single__image {
    min-width: 300px;
    max-width: 300px;
}

.product-single__image img {
    width: 100%;
}

.product-single__title {
    font-size: 1.4rem;
}

.product-single__price {
    font-weight: lighter;
    font-size: 1.5rem;
}

.product-single__text {
    padding: 1rem;
    font-size: 1.2rem;
}

.product-single__modifier {
}

.colors {
    margin: 0 0 0 1rem;
    list-style-type: none;
}

.colors__item {
    display: flex;
    align-items: center;
}

.colors li:not(:last-child) {
    margin-right: 1rem;
}

.text-mod {
    font-size: 1.1rem;
}

.mod-link {
    color: #000000;
}

.mod-link:hover {
    color: #3c92ff;
}

.square-color {
    width: 16px;
    height: 16px;
    border-radius: 5px;
    margin-right: 0.2rem;
}

.Red {
    background: #ff0000;
}

.Orange {
    background: #ff9800;
}

.Yellow {
    background: #fff100;
}

.Green {
    background: #25ff00;
}

.Blue {
    background: #00ffea;
}

.Navy {
    background: #0037ff;
}

.Violet {
    background: #9500ff;
}

.Black {
    background: #000000;
}

.White {
    background: #ffffff;
}

.single-item {
    display: flex;
    align-items: center;
}

.pagination {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a {
    background: white;
    padding: 0.6rem;
    margin: 0.2rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.pagination a:hover {
    color: #3c92ff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.active a {
    color: #3c92ff;
!important;
}

.disabled span {
    background: white;
    padding: 0.6rem;
    margin: 0.2rem;
    border-radius: 5px;
}

.index-colors {
    display: flex;
    list-style-type: none;
    overflow-y: scroll;
    scroll-padding: 10px;
    flex-wrap: wrap;
    max-height: 100px;
    margin: 0;
    scrollbar-width: thin;
}

.index-colors::-webkit-scrollbar-track {

    border-radius: 5px;
    background-color: #c6c6c6;
}

.index-colors::-webkit-scrollbar {
    width: 10px;
}

.index-colors::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #737272;
}

.index-colors li:not(:last-child) {
    margin-right: 1rem;
}

.index-colors__item {
    display: flex;
    align-items: center;
}

.bg-form {
    padding: 1rem;
    background-color: white;
    border-radius: 5px;
}

.bg-form:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 1);
}